/* BASIC FORMATTING */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  padding: 2rem;
}

.hidden {
  display: none;
}

/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
}

/* BUTTONS */
.new-book-btn,
.submit-btn {
  width: 15rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem;

  color: white;
  background-color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.new-book-btn:hover,
.submit-btn:hover {
  opacity: 0.8;
}

/* TABLE */
table {
  table-layout: fixed;
}

th {
  font-size: 2rem;
  padding: 2rem;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #dfdfde;
}

tr:not(:first-child):nth-child(odd) {
  background-color: #f7f5f2;
}

td {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

/* TABLE BUTTONS */

.read-btn {
  width: 6rem;
  font: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s;
  transform: translateY(-1rem);
  margin-right: 2rem;
}

.read-btn:hover {
  opacity: 0.8;
}

.read {
  background-color: rgb(168, 222, 168);
}

.unread {
  background-color: rgb(245, 162, 162);
}

.delete-btn {
  background-color: transparent;
}

.read-btn,
.delete-btn {
  border: none;
  cursor: pointer;
}

.delete-icon {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}

/* FORM */
.form-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.form-field {
  display: grid;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: black;
}

.form-radio-input {
  display: none;
}

.form-radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}

.form-radio-btn {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-radio-btn::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s;
}

.form-radio-input:checked + .form-radio-label .form-radio-btn::after {
  opacity: 1;
}
